.row {
    margin-left: 20px;
    color: #fff;

}

.row_posters {
    display: flex;
    column-gap: 10px;
    overflow-y: hidden;
    padding: 20px;  /*so that when the image grows it is not crop the image to stay inside the container*/
    overflow-x: scroll;
}

.row_posters::-webkit-scrollbar {
    display: none;
}

.row_poster {
    object-fit: contain;  /*keeps the aspect ratio as it is*/
    width: 100%;
    max-height: 100px;
    transition: transform 450ms;
    /* margin-right: 10px; */
}

.row_poster:hover {
    transform: scale(1.08);
}

.row_posterLarger {
    max-height: 250px;
}

.row_posterLarger:hover {
    transform: scale(1.09);
}